* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    transition: all 2s ease;
  }
}

.children {
  width: 100%;
  height: calc(100vh - 70px);
  /* height: 100vh; */
margin-top: 70px;
  > * {
    width: 100vw;
    height: calc(100vh - 70px);
  }
}
